body {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(63, 140, 255, 0.541) 100%);
}

#yutukalogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.login {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(63, 140, 255, 0.541) 100%);
}

.reg1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(63, 140, 255, 0.541) 100%);
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.1mm;
}



#bej {
    color: #ffffff;
    font-family: fantasy;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1mm;
    font-size: 30px

}

#yutukalogo2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#tabla2 {
    color: #ffffff;
    font-family: fantasy;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1mm;
    font-size: 30px
}