body {
    background-color: grey
}

#jutuka {
    text-align: center;
    color: brown;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 25px;
}

#gomb1 {
    font-size: medium;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#fiok {
    font-size: medium;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
#form {
    text-align: center;
    background-color: rgb(228, 4, 4);
    margin: 50px;
    padding: 50px;
}